name: "terraform-deploy"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    defaults:
       run:
          working-directory: ./terraform/
    env:
         AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
         AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
         AWS_DEFAULT_REGION: eu-east-1

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Change to Terraform directory
        run: cd terraform

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.5

      - name: Terraform Init
        id: init
        run: terraform init -input=false
        working-directory: ./terraform

      - name: Terraform Plan
        run: terraform plan 
        working-directory: ./terraform
